/*Menu*/

.page-id-2 #header {
    height: 39px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 99999;
    background: transparent;
    overflow: visible;
}

#header {
    height: 39px;
    padding: 0;
    margin: 0;
    background: transparent;
    overflow: visible;
}

#blog-description {
    margin-top:-39px;
    padding: 0;
    position: absolute;
}

/*.page-id-2 #blog-description {*/
/*    display: none;*/
/*}*/

.page-id-2 .menu {
    margin-top: 26px;
}

.menu {
    margin-top: -38px;
}

.page-id-2 .sf-menu {
    background: transparent;
    padding: 0;
    margin: 0;
}


.page-id-2 #blog-title-paged h1{
    z-index:99;
}


.page-id-2 #blog-title-paged a {
    z-index:99;
    height:200px;
    width:170px;
}

.sf-menu {
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top:-46px;
}

.sf-menu a, .sf-menu a:visited{
    background: transparent;
}

/*Shop Thumb*/

#thumbs {
    margin-right:-2px;
}

.thumbs, .thumbs img {
    height:88px;
    width: 117px;
}

#thumbcontainer {
    z-index: 99999;
    position: relative;
    margin: 40px 0 0 -34px;
    overflow: hidden;
}

.active_thumbnail {
    width: 117px;
}

.page-id-2 #header {
    overflow: visible;
}

.page-id-2 #access {
    overflow: visible;
}

/*M Blog*/
/*.page-id-6 #container, .tag #container, .single-post #container {*/
/*    width: 610px;*/
/*    margin-left:-30px;*/
/*}*/

/*.page-id-6 .mailinglist {*/
/*    margin-top:-44px;*/
/*}*/
/**/
/*.page-id-6 .aside input {*/
/*    margin-top:5px;*/
/*}*/

/*.page-id-6 #buttons {*/
/*    margin:-31px 0 0 290px;*/
/*}*/

/*MMForms and buttons*/
/*.aside input, textarea, input {*/
/*    margin-top: 6px;*/
/*    height: 18px;*/
/*}*/
/**/
/**/
/*#mmf-form-control-wrap YourName {*/
/*    margin-left:-2px;*/
/*}*/
/**/
/*#Name, #Email, #Subject {*/
/*    margin-left:-5px;*/
/*}*/
/**/
/*#send{*/
/*    margin: 8px 0 10px 286px;*/
/*    height: 31px;*/
/*    padding: 5px;*/
/*}*/
/**/
/*#TextArea {*/
/*    height:100px;*/
/*    margin-left:2px;*/
/*    width:328px;*/
/*}*/
/**/
/*#mmf-f2-p9-o1 {*/
/*margin-top:-30px;*/
/*}*/
/**/
/*.page-id-2 .aside, .page-id-2 .aside input {*/
/*    margin-top:5px;*/
/*}*/
/**/
/*#buttons {*/
/*    margin:-30px 0 0 290px;*/
/*    padding:4px;*/
/*    width:40px;*/
/*    height: 27px*/
/*}*/
/**/
/*.page-id-59 .aside input, .page-id-59 textarea, .page-id-59 input {*/
/*    margin-left:180px;*/
/*    margin-top:50px;*/
/*    padding:4px 15px;*/
/*    height: 34px;*/
/*}*/


/*Contact Form 7*/
#gform_submit_button_1 {
    margin-left: -73px !important;
    padding: 10px 8px !important;
}